<div class="cart">
    <h2 class="card-title">Kosár tartalma</h2>
    <div class="cart-content">
        <div class="cart-box">
            <img src="Puma_MB.02-removebg-preview.png" alt="" class="cart-img">
            <div class="cart-detail">
                <h2 class="cart-product-title">Puma MB.02</h2>
                <div class="cart-price">49990Ft</div>
                <div class="cart-quantity">
                    <button id="decrement">-</button>
                    <span class="number">1</span>
                    <button id="increment">+</button>
                </div>
            </div>
            <i class="ri-delete-bin-line cart-remove"></i>
        </div>
    </div>
    <div class="total">
        <div class="total-titel">Végösszeg</div>
        <div class="total-price">0Ft</div>
    </div>
    <button class="btn-buy">Megveszem</button>
    <i class="ri-close-line" id="cart-close"></i>
</div>
